.content {
    width: 468px;
}



.form-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.dropzone-area {
    padding: 1rem;
    position: relative;
    height: 190px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px dashed var(--border);
    border-radius: 5px;
    color: var(--hitam);
    cursor: pointer;
}

.dropzone-area [type="file"] {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.dropzone--over {
    border-style: solid;
    background-color: var(--background);
}


.input-wrap {
    border: 1px solid var(--border);
    border-radius: 5px;
    width: 100%;
}

.caption-wrap {
    margin-top: 20px;
    border: 1px solid var(--border);
    border-radius: 5px;
    width: 100%;
}


.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
    gap: 16px;
}

.container button {
    margin-left: auto;
    font-weight: 400;
    font-size: 14px;
    padding: 8px 30px;

    border-radius: 5px;
    background-color: var(--hitam);
    border: 1px solid var(--hitam);
    color: var(--white);
}

.input-wrap-search {
    border: 1px solid var(--border);
    border-radius: 5px;
    width: 100%;
    justify-content: space-between;
}

.control-search {
    margin: 0px auto 0px auto;
    border: 0;
    padding: 10px 6px;
    outline: none;
    width: 90%;
    height: 32px;
    color: var(--hitam);
    font-weight: 500;
    font-family: inherit;
    font-size: 14px;
    transition: 0.4s;
    background-color: var(--white);
}


.control {
    border: 0;
    outline: none;
    width: 82%;
    height: 32px;
    color: var(--hitam);
    font-weight: 500;
    font-family: inherit;
    font-size: 14px;
    transition: 0.4s;
    background-color: var(--white);
}


.textarea-control {
    border: 0;
    outline: none;
    height: 38px;
    resize: vertical;

    width: 82%;
    margin: 12px 16px 12px 0px;

    color: var(--hitam);
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--white);
}



.form-actions {
    align-items: end;
    padding-top: 24px;
    margin-top: 42px;
    border-top: 1px solid var(--border);
    gap: 20px;
    justify-content: flex-end;
}

.form-actions button {

    font-weight: 400;
    font-size: 14px;
    padding: 8px 30px;

    border-radius: 5px;
    background-color: var(--hitam);
    border: 1px solid var(--hitam);
    color: var(--white);
}

.form-actions .reset {
    font-weight: 500;
    margin-left: auto;
    background-color: transparent;
    border: 1px solid var(--gray);
    color: var(--hitam);
}

@media (width < 768px) {
    .control {
        width: 74%;
    }

    .textarea-control {
        width: 74%;
    }

    .feed2 {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}