.modal-button {
    cursor: pointer;
    text-decoration: none;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    opacity: 0;
    visibility: hidden;
    transform: scale(1, 1);
    background: rgba(0, 0, 0, 0.7);
    transition: 0.3s;
    z-index: 10;
}

body.open .modal-background {
    visibility: visible;
    opacity: 1;
    animation: background-in 1s both;
}

@keyframes modal-in {

    0%,
    66% {
        opacity: 0;
        visibility: hidden;
        translate: -50% -30%;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

.modal {
    position: fixed;
    top: 30%;
    left: 50%;
    background: rgba(255, 255, 255, 0.3);
    color: #f9f9f9;
    border-radius: 10px;
    translate: -50% -50%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 9999;
}

.modal a {
    padding: 26px 90px;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    color: var(--hitam);
    text-align: center;
}

.dua {
    border-top: 1px solid rgb(97, 97, 97);
    border-bottom: 1px solid rgb(97, 97, 97);
}

/* .hr-modal {
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--white);
} */

body.open .modal {
    opacity: 1;
    visibility: visible;
    animation: modal-in 0.3s;
}

body.closed .modal {
    opacity: 0;
    visibility: hidden;
    translate: -50% -50%;
}

