/* Pengaturan Global */
/* Mengatur properti dasar untuk elemen-elemen HTML */
body,
h1,
h2,
h3,
p,
span,
li,
button,
a,
div {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow: scroll;
    overflow-x: hidden;
    background-color: var(--white);
}

:root {
    --hitam: #292929;
    --white: #ffffff;
    --background: #fafafa;
    --border: #dbdbdb;
    --hover: #f2f2f2;
    --gray: gray;
}

/* Gaya Flexbox */
/* Mengatur tata letak flexbox */
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* Gaya untuk Feed */
/* Mengatur tampilan feed */
.main {
    padding-bottom: 110px;
    column-count: 1;
    column-gap: 60px;
    margin-top: 40px;
}


/* Gaya Tambahan */
/* Gaya tambahan untuk elemen-elemen tertentu */
.bi-heart-fill {
    color: rgb(235, 24, 24);
}


hr {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 468px;
    height: 1px;
    border-width: 0;
    color: var(--border);
    background-color: var(--border)
}


input .icons {
    gap: 25px;
}

.text-logo {
    font-family: "Oleo Script", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    color: var(--hitam);
}


/* Gaya untuk GNB (Global Navigation Bar)
Mengatur tampilan navigasi global */
.gnb {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid var(--border);
    background-color: var(--white);
    z-index: 999;
    /* transition: 0.3s; */
}

.gnb-content {
    width: 90vw;
    height: 65px;
    display: flex;
    justify-content: space-between;
}

.gnb-content a {
    align-items: center;
    border-radius: 10px;
}

.nav-account-img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    overflow: hidden;
    /* border: 0.5px solid var(--border); */
    /* display: flex; */
}



.nav-bottom {
    /* transition: 0.3s; */
    background-color: var(--white);
    border-top: 1px solid var(--border);
    /* width: 100%; */
    height: 55px;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.nav-bottom-content {
    width: 80%;
    height: 65px;

    justify-content: space-evenly;
}

.nav-bottom a {
    padding: 6px 10px;
    transition: 0.3s;
    align-items: center;
    border-radius: 10px;
}

.nav-bottom-content a:hover {
    background-color: var(--hover);
}

.nav-bottom-content a i {
    font-size: 24px;
    color: var(--hitam);

}



.myprofile {
    margin-bottom: 40px;
    /* padding-bottom: 40px; */
    /* border-bottom: 1px solid var(--border); */
}

.myprofile img {
    border-radius: 100%;
    width: 140px;
    height: 140px;
}

.profiledetail {
    margin-top: 20px;
    margin-bottom: 30px;
    gap: 5px;
}


.aksi-profile {
    gap: 1rem;
}

.aksi-profile .editprofile {
    font-weight: 500;
    font-size: 14px;

    padding: 10px 30px;
    border-radius: 5px;

    background-color: var(--hitam);
    color: var(--white);
}

.myprofile .profiledetail .username,
.myprofile .profiledetail .email {
    font-weight: 500;
    font-size: 16px;
}


.title {
    font-weight: bold;
}



.feed {
    max-width: 468px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
}

.Gambar-postingan {
    width: 40%;
    margin-bottom: auto;
}

.Gambar-postingan img {
    width: 100%;
    object-fit: cover;

    border-radius: 5px;
}


.Informasi-postingan {
    width: 55%;
    margin-left: auto;
    margin-bottom: auto;
}

.Publisher {
    gap: 5px;
}

.Publisher-detail {
    display: flex;
    gap: 8px;
}

.Publisher span {
    font-size: 12px;
    font-weight: 500;
}


.time {
    color: var(--gray);
    font-size: 12px;
    font-weight: 400;
}

.Publisher .time {
    margin-right: auto;
}


.title-description {
    align-items: start;
    margin-top: 10px;
    /* border-bottom: 1px solid var(--border);
    padding-bottom: 14px; */
}

.title-description a {
    font-weight: 500;
    align-items: start;
    color: var(--hitam);
    font-size: 14px;
}

.title-description>a>span:first-child {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
}

.kategori-wrap {
    white-space: nowrap;
    /* Mencegah pemutusan baris */
    overflow-x: auto;
    /* Memungkinkan konten untuk digulir secara horizontal */
    /* padding-bottom: 20px; */
    margin-bottom: 40px;
}

.kategori-wrap::-webkit-scrollbar {
    width: 0;
}


.kategori-wrap p {
    display: inline-block;
    /* Mengatur elemen paragraf untuk ditampilkan dalam satu baris */
    vertical-align: top;
    /* Mengatur tata letak vertikal */
    margin-right: 10px;
    /* Jarak antara setiap item */
    background-color: #f5f5f5;
    /* Warna latar belakang untuk card */
    padding: 16px;
    /* Padding dalam card */
    border-radius: 5px;
    /* Mengatur sudut card */
}

.kategori-wrap a {
    font-weight: 600;
    text-decoration: none;
    /* Menghapus garis bawah pada link */
    color: var(--hitam);
    /* Mengambil warna teks yang diwariskan */
}

.profile-wrap {
    width: 100%;

    border-bottom: 1px solid var(--border);
    padding-bottom: 50px;
    margin-bottom: 40px;

    gap: 46px;
}

.profile-content-left {
    gap: 16px;
}

.profile-content-left img {
    border-radius: 100%;
}

.profile-content-left a {
    color: var(--hitam);
    font-weight: 600;
    font-size: 12px;
    padding: 6px 16px;
    background-color: var(--white);
    border: 1px solid var(--hitam);

    border-radius: 5px;
}

.profile-content-right {
    align-items: start;
    margin-right: auto;
    gap: 10px;
}

.profile-content-right p {
    font-weight: 500;
    font-size: 14px;
}

.profile-content-right p span {
    font-weight: bold;
    font-size: 14px;
}



/* .kategori-wrapper {
    max-height: 120px;
    border: 1px solid red;
    display: flex;
    overflow-x: auto;
}

.kategori-wrapper::-webkit-scrollbar {
    width: 0;
}

.kategori-wrapper .item {
    min-width: 110px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    background-color: #ddd;
    margin-right: 2px;
} */

/* .likes-kategori-wrap {
    gap: 5px;
}

.likes-kategori-wrap a {
    font-size: 14px;
    color: var(--hitam);
    font-weight: 500;
}

.likes-kategori {
    gap: 5px;
}

.likes .bi {
    font-size: 20px;
}

.likes-kategori-wrap p {
    color: var(--hitam);
    font-size: 14px;
    font-weight: 500;
}





.likes-kategori-wrap a,
.likes-kategori-wrap .likes-kategori {
    margin-right: auto;
    color: var(--hitam);
} */





@media (width > 767px) {
    .gnb {
        display: none;
    }

    .nav-bottom {
        display: none;
    }
}

@media (max-width: 767px) {
    

    main {
        padding-top: 65px;
    }

    .feed {
        width: 90vw;
    }

    hr {
        width: 90vw;
    }

    .time {
        font-size: 10px;
    }

    .feed .bi {
        font-size: 18px;
    }

    .title-description {
        margin-top: 5px;
    }

    .title-description a {
        font-size: 14px;
    }


    .Publisher span {
        font-size: 12px;
    }

    /* 
    .likes-kategori-wrap {
        gap: 3px;
    }

    .likes-kategori-wrap p, .likes-kategori-wrap a {
        font-size: 12px;
    } */

}
